<aside *ngIf="showNotification" class="fixed top-4 end-4 z-50 flex items-center justify-center gap-4 rounded-lg bg-secondary-content px-5 py-3 text-base-content border ml-4 lg:m-w-2/4 print:hidden" [ngClass]="{
    'border-success': notificationType === 'success',
    'border-error': notificationType === 'error'
  }">
  <a href="#" target="_blank" rel="noreferrer" class="text-sm font-medium hover:opacity-75" [ngClass]="{
      'text-success': notificationType === 'success',
      'text-error': notificationType === 'error'
    }">
    <div class="flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
      </svg>
      <div>
        <span class="font-bold">{{ title }}</span> {{ message }}
      </div>
    </div>
  </a>

  <button (click)="closeNotification()" class="rounded bg-base-100 p-1 hover:bg-base-200">
    <span class="sr-only">Close</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 20 20" fill="currentColor">
      <path fillRule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clipRule="evenodd" />
    </svg>
  </button>
</aside>