<div *ngIf="showNotification"
  class="fixed top-10 left-0 p-3 rounded-md shadow-md w-full md:max-w-sm md:left-auto md:right-10 border" [ngClass]="{
    'bg-green-100 border-green-300': notificationType === 'success',
    'bg-red-100 border-red-300': notificationType === 'error'
  }">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="font-medium text-gray-800 text-lg">
        {{ title }}
      </div>
    </div>
    <button (click)="closeNotification()" class="text-gray-500">
      <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <p class="mt-1 text-gray-600">
    {{ message}}
  </p>
</div>