<!-- Confetti -->
<div class="fixed inset-0 z-50 h-screen overflow-hidden flex justify-center items-center scale-150" *ngIf="isConfetti">
  <dotlottie-player src="https://lottie.host/565d6ebf-5515-49f7-bda8-253f61f89f41/qcwxGv9r0O.json" background="transparent" speed="1" style="width: 1000px; height: 1000px" direction="1" playMode="normal" autoplay></dotlottie-player>
</div>
<!--  Container tailwindcss -->
<div class="container mx-auto">
  <div class="flex flex-col justify-center items-center"
    [ngClass]="{ 'h-screen': jobQueueResult.status !== 'completed' }">
    <!-- Main Card -->
    <div class="card shadow-xl w-auto hover:shadow-xl p-5 border border-gray-200 dark:border-dark-5 glass lg:w-2/3 m-3">
      <!-- <ul class="menu bg-base-300 menu-horizontal rounded-box shadow-lg">
        <li>
          <a href="https://github.com/yogibagus/linkedin-roaster" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path fill-rule="evenodd"
                d="M4.25 2A2.25 2.25 0 0 0 2 4.25v11.5A2.25 2.25 0 0 0 4.25 18h11.5A2.25 2.25 0 0 0 18 15.75V4.25A2.25 2.25 0 0 0 15.75 2H4.25Zm4.03 6.28a.75.75 0 0 0-1.06-1.06L4.97 9.47a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 0 0 1.06-1.06L6.56 10l1.72-1.72Zm4.5-1.06a.75.75 0 1 0-1.06 1.06L13.44 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06l2.25-2.25a.75.75 0 0 0 0-1.06l-2.25-2.25Z"
                clip-rule="evenodd" />
            </svg>
            Repository
          </a>
        </li>
        <li>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path fill-rule="evenodd"
                d="M.676 6.941A12.964 12.964 0 0 1 10 3c3.657 0 6.963 1.511 9.324 3.941a.75.75 0 0 1-.008 1.053l-.353.354a.75.75 0 0 1-1.069-.008C15.894 6.28 13.097 5 10 5 6.903 5 4.106 6.28 2.106 8.34a.75.75 0 0 1-1.069.008l-.353-.354a.75.75 0 0 1-.008-1.053Zm2.825 2.833A8.976 8.976 0 0 1 10 7a8.976 8.976 0 0 1 6.499 2.774.75.75 0 0 1-.011 1.049l-.354.354a.75.75 0 0 1-1.072-.012A6.978 6.978 0 0 0 10 9c-1.99 0-3.786.83-5.061 2.165a.75.75 0 0 1-1.073.012l-.354-.354a.75.75 0 0 1-.01-1.05Zm2.82 2.84A4.989 4.989 0 0 1 10 11c1.456 0 2.767.623 3.68 1.614a.75.75 0 0 1-.022 1.039l-.354.354a.75.75 0 0 1-1.085-.026A2.99 2.99 0 0 0 10 13c-.88 0-1.67.377-2.22.981a.75.75 0 0 1-1.084.026l-.354-.354a.75.75 0 0 1-.021-1.039Zm2.795 2.752a1.248 1.248 0 0 1 1.768 0 .75.75 0 0 1 0 1.06l-.354.354a.75.75 0 0 1-1.06 0l-.354-.353a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd" />
            </svg>
            <span class="badge badge-xs"
              [ngClass]="{ 'badge-success': checkService.status === 'success', 'badge-error': checkService.status === 'error', 'badge-warning': checkService.status === 'warning' }"></span>
            {{ checkService.message }}
          </a>
        </li>
      </ul>
      <br> -->

      <div class="card bg-base-300 py-2 text-sm shadow-lg">
        <div class="flex justify-between">
          <div class="flex">
            <button class="rounded-lg hover:bg-base-100 p-2 mx-2 flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd"
                  d="M4.25 2A2.25 2.25 0 0 0 2 4.25v11.5A2.25 2.25 0 0 0 4.25 18h11.5A2.25 2.25 0 0 0 18 15.75V4.25A2.25 2.25 0 0 0 15.75 2H4.25Zm4.03 6.28a.75.75 0 0 0-1.06-1.06L4.97 9.47a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 0 0 1.06-1.06L6.56 10l1.72-1.72Zm4.5-1.06a.75.75 0 1 0-1.06 1.06L13.44 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06l2.25-2.25a.75.75 0 0 0 0-1.06l-2.25-2.25Z"
                  clip-rule="evenodd" />
              </svg>
              <span class="ml-1">Repository</span>
            </button>
            <button class="rounded-lg hover:bg-base-100 p-2 mx-2 flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd"
                  d="M.676 6.941A12.964 12.964 0 0 1 10 3c3.657 0 6.963 1.511 9.324 3.941a.75.75 0 0 1-.008 1.053l-.353.354a.75.75 0 0 1-1.069-.008C15.894 6.28 13.097 5 10 5 6.903 5 4.106 6.28 2.106 8.34a.75.75 0 0 1-1.069.008l-.353-.354a.75.75 0 0 1-.008-1.053Zm2.825 2.833A8.976 8.976 0 0 1 10 7a8.976 8.976 0 0 1 6.499 2.774.75.75 0 0 1-.011 1.049l-.354.354a.75.75 0 0 1-1.072-.012A6.978 6.978 0 0 0 10 9c-1.99 0-3.786.83-5.061 2.165a.75.75 0 0 1-1.073.012l-.354-.354a.75.75 0 0 1-.01-1.05Zm2.82 2.84A4.989 4.989 0 0 1 10 11c1.456 0 2.767.623 3.68 1.614a.75.75 0 0 1-.022 1.039l-.354.354a.75.75 0 0 1-1.085-.026A2.99 2.99 0 0 0 10 13c-.88 0-1.67.377-2.22.981a.75.75 0 0 1-1.084.026l-.354-.354a.75.75 0 0 1-.021-1.039Zm2.795 2.752a1.248 1.248 0 0 1 1.768 0 .75.75 0 0 1 0 1.06l-.354.354a.75.75 0 0 1-1.06 0l-.354-.353a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd" />
              </svg>
              <span class="badge badge-xs mt-1 ml-2"
                [ngClass]="{ 'badge-success': checkService.status === 'success', 'badge-error': checkService.status === 'error', 'badge-warning': checkService.status === 'warning' }"></span>
              <span class="ml-1">{{ checkService.message }}</span>
            </button>
          </div>
          <div class="p-2 pb-0 mx-2 hover:bg-base-100 rounded-lg" (click)="toggleTheme()">          
              <!-- sun icon -->
              <svg
                class="swap-on  h-5 w-5 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                [ngClass]="{ 'hidden': currentTheme === 'dark' }"
                >
                <path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
              </svg>
            
              <!-- moon icon -->
              <svg
                class="swap-off h-5 w-5 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                [ngClass]="{ 'hidden': currentTheme === 'light' }"
                >
                <path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
              </svg>
          </div>
        </div>
      </div>

      <!-- notification -->
       <div class="p-3 mt-5 text-sm bg-base-200 text-base-content rounded-xl border border-accent shadow-xl">
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" height="20">
            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
          </svg>        
          <p><span class="font-bold">Info! </span> The service is currently limited and will be fixed and updated soon.</p> 
        </div>
       </div>

      <div class="card-body">
        <h1 class="text-4xl xl:text-6xl lg:text-5xl md:text-5xl sm:text-5xl font-bold text-center bg-gradient-to-r from-purple-300 via-blue-400 to-green-400  bg-clip-text text-transparent">
          {{ title }}
        </h1>
        <p class="text-center text-sm">
          {{ description }}
        </p>
        <div class="flex justify-center items-center transform hover:scale-105 transition duration-300" *ngIf="historyData?.data?.totalItems > 0">
          <p class="btn btn-xs max-w-40" (click)="showTotalRoasted();showConfetti()">Roasted {{ historyData?.data?.totalItems }} times</p>
        </div>
        <!-- form and button -->
        <div class="flex flex-col md:flex-row items-center justify-center mt-3 gap-3">
          <div class="join w-full md:w-auto flex flex-col md:flex-row items-center gap-3">
            <input class="input input-bordered w-full md:w-96 lg:w-64" placeholder="LinkedIn Username..."
              [(ngModel)]="inputForm.username" />
            <div class="flex items-center gap-2 mt-1 md:mt-0">
              <select class="select select-bordered w-full md:w-auto" [(ngModel)]="inputForm.lang">
                <option disabled selected>Language</option>
                <option value="indonesian">Indonesia</option>
                <option value="english">English</option>
              </select>
              <button (click)="createJobQueue()" [disabled]="isJobQueueLoading || isJobAdviceQueueLoading" class="btn transform hover:scale-105 transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd"
                    d="M13.5 4.938a7 7 0 1 1-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 0 1 .572-2.759 6.026 6.026 0 0 1 2.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0 0 13.5 4.938ZM14 12a4 4 0 0 1-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 0 0 1.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 0 1 1.315-4.192.447.447 0 0 1 .431-.16A4.001 4.001 0 0 1 14 12Z"
                    clip-rule="evenodd" />
                </svg>
                Roast It!
                <span class="loading loading-spinner loading-sm" *ngIf="isJobQueueLoading"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- loader -->
      <div class="flex justify-center items-center" *ngIf="isJobQueueLoading">
        <p class="btn btn-sm" *ngIf="jobQueueResult.status === 'active'">Processing...</p>
        <p class="btn btn-sm" *ngIf="jobQueueResult.status !== 'active' && jobQueueResult.status !== 'completed'">You
          are in the queue <span class="badge badge-sm badge-warning">{{ jobQueueResult.waitingCount }}</span>
      </div>

      <!-- Error message -->
      <!-- <div class="alert bg-red-50 border border-red-400 text-red-700 p-3 rounded-md mt-1 transition duration-500"
        *ngIf="globalError !== ''">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
              clip-rule="evenodd" />
          </svg>
        </span> {{ globalError }}
      </div> -->
    </div>
    <!-- footer -->
    <footer class="text-center" [ngClass]="{ 'hidden': jobQueueResult.status === 'completed' }">
      <p class="text-sm text-gray-500">© 2024 | <a href="" class="text-blue-500">Yogi Bagus</a></p>
    </footer>
  </div>


  <div>
    <div *ngIf="jobQueueResult.status === 'completed'">
      <!-- Roast Result Card -->
      <app-result [data]="jobQueueResult" [type]="'roast'"></app-result>

      <!-- Advice Result Card -->
      <app-result [data]="jobAdviceQueueResult" [type]="'advice'" *ngIf="jobAdviceQueueResult.status === 'completed'">
      </app-result>

      <!-- button reset -->
      <div class="flex justify-center mt-5 gap-3">
        <button class="btn btn-neutral" [disabled]="isJobAdviceQueueLoading" (click)="createJobAdviceQueue()"
          *ngIf="jobAdviceQueueResult.status !== 'completed'">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path
              d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z" />
          </svg>
          Ask AI for Advice
          <span class="loading loading-spinner loading-sm" *ngIf="isJobAdviceQueueLoading"></span>
        </button>
        <button class="btn" [disabled]="isJobQueueLoading" (click)="defaultData()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd"
              d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"
              clip-rule="evenodd" />
          </svg>
          Reset
        </button>
      </div>
    </div>

  

    <app-notification [showNotification]="notificationService.notification$ | async"
      [notificationType]="(notificationService.notification$ | async)?.type"
      [title]="(notificationService.notification$ | async)?.title"
      [message]="(notificationService.notification$ | async)?.message">
    </app-notification>

    <!-- Open the modal using ID.showModal() method -->
    <!-- <button class="btn" onclick="my_modal_5.showModal()">open modal</button> -->
    <!-- <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog> -->

    <!-- <button (click)="showSuccessNotification()">Sukses</button> -->
  </div>
  <!-- footer -->
  <footer class="text-center mt-5 mb-5" [ngClass]="{ 'hidden': jobQueueResult.status !== 'completed' }">
    <p class="text-sm text-gray-500">© 2024 | <a href="" class="text-blue-500">Yogi Bagus</a></p>
  </footer>
</div>